<div class="container">
  <h1>All our flats (<%= @flats.size %>)</h1>
  <div class='wrapper'>
    <% @flats.each do |flat| %>
    <div class='card p-2 mr-2'>
      <img src=<%= flat.photo_url %> class="card-img-top" style='height: 100px'>
      <div class="card-body">
        <h4 class='card-title'><%= flat.name %></h4>
        <p class='card-text'><%= flat.address %></p>
        <div class='d-flex justify-content'>
          <p><i class="fas fa-users m-1"></i><%= flat.number_of_guests %></p>
          <p><i class="fas fa-euro-sign m-1"></i><%= flat.price_per_night %></p>
        </div>
        <div class="d-flex justify-content-between">
          <%= link_to flat_path(flat) do %>
          <button type="button" class="btn btn-primary">More infos</button>
          <% end %>
          <%= link_to edit_flat_path(flat) do %>
          <button type="button" class="btn btn-success">Edit</button>
          <% end %>
          <%= link_to flat_path(flat), method: :delete, data: { confirm: "Remove appartment?" } do %>
          <button type="button" class="btn btn-danger">Remove</button>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>